/* rest */
*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

ul{
    list-style-type: none;
    padding-top: 5px;
    width: 100%;
    display: flex;
    
}
a{
    text-decoration: none;
    color: white;
    padding-left: 5px;
    font-size: 0.8rem;
    width: 100%;
   
}

/* img */
img{
    max-width: 100%;
}

.img-1{
    display: block;
}

.img-2{
    display: none;
}

.cambio-img:hover .img-1{
    display: none 
}

.cambio-img:hover .img-2{
    display: block 
}

/* flex */

.cont-flex{
    display: flex; 
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}

.contenitore{
    width: 80%;
    max-height: 1100px;
    margin: 0 auto;
}

/* header */
header{
    background-color: #ff6900;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    padding: 10px;
   
}

.lista-sx{
    width: 25%;
}

.logo{
    width: 50%; 
    display: flex;
    justify-content: center;
    align-content: center;
}
.img-logo{
    max-width: 100px;
    padding-top: 5px;
}

.lista-dx{
    width: 25%;
    justify-content: end;
    
}


/* main */

main{
   padding-top: 50px;
   padding-bottom: 50px;
}
.cont-card{
    width: calc(100%/3);
    padding: 20px;
    /* effetto manina */
    cursor: pointer;
}
.card{
    position: relative;
}
.discount{
    color: white;
    background-color: red;
    padding: 5px;
    font-size: 0.6rem;
    position: absolute;
    bottom: 50px;
    left: 0;
}
.green-1{
    background-color: green;
    color: white;
    padding: 5px;
    font-size: 0.6rem;
    position: absolute;
    bottom: 50px;
    left: 35px;
}
.heart{
    background-color: white;
    padding: 5px 8px;
    font-size: 1.2rem;
    position: absolute;
    top: 5px;
    right: 0;
}

.heart:hover{
    color: red;
}

.marchio{
    font-size: 0.6rem;
}

.prezzo{
    color: red;
}
.sconto{
    color: grey;
    text-decoration: line-through;
}
 

/* footer */
footer{
    background-color: black;
    margin-top: 50px;
    padding: 10px;
}

.info{
    width: 50%;
    color: white;
}

.trovaci{
    width: 50%;
    color: white;
    text-align: end;
}
.font-size-1{
    font-size: 0.5rem;
    
}

/* dare spazio nel footer */